.artCard{
    display: block;
    
}
.artCard a{
    text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 15px;
  font-size: 140%;
}
.artCard li{
    list-style: none;


}
#bannerBot{
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
}
#bannerBot img{
    width: 32%;
    height: 300px;
    margin: 5px;
}
#l1:active + #t1{
    display: block;
}
.artCard p, strong:hover{
    color:blue;
    display: block;
    
}
@media screen and (min-width: 700px){
    nav{
        margin-bottom: 0px;
    }
    article, aside{
        width: 90%;
        margin: auto;
    }
    selection{
        margin: auto;
    }
}