@media screen and (min-width: 700px){
    article{
        width:45%;
        margin:auto;
        text-align: left;
    }
    article h3{
        width: 100%;
        position: sticky;
    }
    section{
        width: 100%;
        display: flex;
    }
    fieldset{
        border-radius: 15px;
    }
}